<div class="container">
  <!-- Designer - Demo -->
  <!--<bold-reportdesigner id="designer" [serviceUrl]="serviceUrl">
  </bold-reportdesigner>-->

  <!-- Designer - Cloud -->
  <!-- <bold-reportdesigner
    id="reportDesigner_Control"
    #reportDesigner
    [serviceUrl]="serviceUrl"
    [reportServerUrl]="reportServerUrl"
    [serviceAuthorizationToken]="serverServiceAuthorizationToken"
  >
  </bold-reportdesigner> -->

  <!-- Viewer - Cloud -->
  <!-- <bold-reportviewer
    id="reportViewer_Control"
    [reportServiceUrl]="reportServiceUrl"
    [reportServerUrl]="reportServerUrl"
    [serviceAuthorizationToken]="serverServiceAuthorizationToken"
    [reportPath]="reportPath"
    style="width: 100%; height: 950px"
  >
  </bold-reportviewer> -->

  <!-- IFrame embedding -->
  <!-- <iframe
    src="https://app1701758398.boldreports.com/reporting/reports/c9d97fd6-e9af-45a4-88f5-212782b30bd4/Sample%20Reports/Sales%20Order%20Detail?isembed=true"
    id="report-frame"
    width="100%"
    height="720px"
    allowfullscreen
    frameborder="0"
  ></iframe> -->
</div>
